.posts-main {
    border-collapse: collapse;
}

.post-main {
    text-align: left;
    margin-bottom: 40px;
    margin-left: 500px;
    border-radius: 25px;
    border: 2px solid #D3D3D3;
    padding: 20px;
    width: 900px;
    height: 300px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    vertical-align: middle;
}

.post {

}

.post-content {
    font-size: 30px;
}

.post-time {
    font-size: 14px;
}

.comment-time {
    font-size: 12px;
}

.comment-content {
    font-size: 16px;
}

h1 {
    text-align: left;
    margin-left: 525px;
    margin-bottom: 40px;
}

h5 {
    text-decoration: underline;
    font-size: 18px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}