<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Spades.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Acebook
    </a>
    <button id="myButton" class="float-left submit-button btn btn-outline-light" >Log Out</button>
</nav>

<br>

<h1>Post</h1>
<form action="#" th:action="@{/post}" th:object="${post}" method="post">
    <p>Content: <textarea type="text" th:field="*{content}" /></p>
    <p>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-primary">Reset</button></p>
</form>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/logout";
    };
</script>

</body>
</html>